/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ebeaea; /* Light Blue */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  /* Login Container Styles */
  #login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff; /* White */
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%;
    box-sizing: border-box;
  }

  #main-container {
    background-color: #ffffff; /* White */
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 70%;
    width: 100%;
    box-sizing: border-box;
  }
  
  /* Form Styles */
  #login-form {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Input Styles */
  #email, #password{
    width: 90%; /* Set to 100% of the parent's width */
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    align-items: center;
    /* margin: 20px; */
  }

  .sign-up-field {
    width: 50%; /* Set to 100% of the parent's width */
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    align-items: center;
    /* margin: 20px; */
  }
  
  /* Button Styles */
  button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #153350; /* Darker Blue */
    color: #fff;
    cursor: pointer;
    width:100px; /* Set to 75% of the input fields width */
    /* margin: 20px; */
  }

  #login-bttn {
    margin-bottom: 10px;
  }

  /* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 20%;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

input[type="file"]::file-selector-button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #153350; /* Darker Blue */
  color: #fff;
  cursor: pointer;
  width:100px;
}

#entries-list {
  display: flex;
  flex-direction: row;
}

#dateCont {
  font-size: 10px;
}

#head-cont{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  margin-right: 30px;
}

#head-cont p{
  font-size: 40px;
  margin: 20px;  
}

#head-cont button{
  height: 20%;
}

#input-cont {
  max-width: fit-content;
  margin: 20px;
}

#input-cont form{
  display: flex;
  flex-direction: column;
}

#input-cont form input{
  margin: 10px;
}

#input-cont form #name{
  font-size: 18px;
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}

#input-cont form button {
  margin-left: 10px;
}

#gallery-container {
  margin-left: 20px;
}

#gallery-container #gal-title{
  font-size: 40px;
  text-align: center;
}

.imageCont{
  margin: 20px;
  padding: 5px;
  text-align: center;
  max-width: 50%;
}

.imageCont p{
  margin: 5px;
}

.imageCont img{
  width: 100%;
}

.imageCont button{
  padding: 10px;
  border: none;
  border-radius: 100px;
  font-size: 12px;
  background-color: #b43535; /* Darker Blue */
  color: #fff;
  cursor: pointer;
  width:80px;
}

#loading-text {
  display: none;
  text-align: center;
}

button:hover {
  background-color: #457099;
}


/* For mobile view */

@media only screen and (max-width: 600px) {
  .modal-content {
      width: 90%;
      padding: 10px;
  }
}